.not-found__title {
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  margin-bottom: 5px;
}

.not-found__text {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 184px;
}

.not-found__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;
}

.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
