.portfolio {
  padding-top: 50px;
  padding-bottom: 125px;
}

.portfolio__heading {
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  text-align: start;
  margin-bottom: 50px;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
}
.portfolio__links-list_item {
  border-bottom: 1px solid #424242;
}

.portfolio__links-list_item:last-of-type {
  border: none;
}

.portfolio__link-text {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-align: start;
}
