.techs__list-item {
  box-sizing: border-box;
  height: 60px;
  width: 90px;
  background: #303030;
  border-radius: 10px;
  margin-right: 10px;
  padding-top: 21px;
  padding-bottom: 21px;
  display: flex;
  justify-content: center;
}
.techs__list-item:last-of-type {
  margin-right: 0px;
}

.techs__list {
  display: flex;
}

.techs__list-wrapper {
  display: flex;
  justify-content: center;
}

.techs__title {
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin-bottom: 26px;
}

.techs__info {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  width: 460px;
}

.techs__info_wrapper {
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__list-text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs {
  padding-top: 100px;
  padding-bottom: 100px;
}
